{%  extends 'personal/base.html'%}
{% block content%}
<div class="imgdiv">
        <img class="img" src="/media/admin/me.png">
        <hr class="h_line">
    <p class="about_par">
    Hi, i am Arbind Mehta. I am currently studying BE. in Computer Engineering at Purwanchal Campus, Dharan, Nepal.
    You can follow me on:<a href="#">Facebook</a>, <a href="#"> Google</a>, <a href="mailto:mehtaarbind67@gmail.com" >Mail</a>
    </p>
    <button class="button" onclick="ju()">Button</button>
    <p class="text-primary">Hi, i am bootstrap</p>
</div>

{% endblock %}