{%  extends 'personal/base.html'%}
{% block content%}



</div>
<div class="login" >

<!--    here after login this points to self. we can chage by "action="{%url 'about'%}"" replacing abou with desired page-->
    <form method="POST", enctype="multipart/form-data" role="form" >
        {% csrf_token %}
        <div id="table">
        <p>
<!--        <div class="row">-->
<!--    <label for="name" class="name">Name:</label>-->
<!--    <input type="text" class="fild" name="name" id="name"><br>-->
<!--        </div>-->

             <div class="row">
    <label for="eml" class="name" >Username:</label>
    <input type="text" name="username" required class="fild" id="eml"><br>
        </div>

     <div class="row">
        <label for="pass" class="name">Password:</label>
    <input type="password" class="fild" required name="password" id="pass">
        </div>

    </p>
        </div>
        <div >
        <button class="srch_btn" type="submit">Login</button><button class="srch_btn" type="reset">Cancel</button>
        </div>

</form>
<a class="small" href="{%url 'signup'%}" style="margin-right: 60%">Don't have an account? Signup</a><br>
    <a class="small" href="" style="margin-right: 60%">Forget password?</a>
    <p class="heading1">Or</p>
    <hr>
    <p class="heading1">Login with</p>
    <button class="button">Facebook</button><br>
    <button class="button">Google</button>


</div>


{% endblock %}