{%  extends 'personal/base.html'%}
{% block content%}
<div class="img_list" style="margin-top: 20px">

    <form method="POST", enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div class="codeblocks" style="text-align: left">
            <table>
                <tr>
                    <td>
                        <img src="{{user.blog.Profile_Picture.url}}" style="max-height: 200px;max-width: 200px">
                    </td>
                    <td style="text-align: left;padding-left: 10px">
                        <h2 class="name" style="text-align: left">{{user.username}}</h2>
                        <small style="font-size: 15px" class="name">Date:  {{Date|date:"M d, Y"}}</small><br>
                    </td>
                </tr>
            </table>
        </div>

     <div class="codeblocks">
        <label for="title" class="name">Title:</label><br>
        <input type="text" required name="Title" id="title" width="30" style="width: 300px" class="fild"><br>
        <label for="post" class="name">Post:</label><br>
        <textarea type="text" required maxlength="300" name="Post" id="post" rows="10" cols="30" class="fild"
        style="width: 500px;height: 300px"></textarea><br>
         <button class="button" type="submit">Post</button><button class="button" style="margin-left: 50px" type="reset">Cancel</button>
        </div>
        <input type="text" name="username" value="{{user.id}}" style="visibility: hidden">
    </form>
</div>

{% endblock %}