{%  extends 'personal/base.html'%}
{% block content%}
<div class="img_list" style="margin-top: 20px">

        <div class="codeblocks" style="text-align: left">
            <table>
                <tr>
                    <td>
                        <img src="{{post.username.blog.Profile_Picture.url}}" style="max-height: 200px;max-width: 200px">
                    </td>
                    <td style="text-align: left;padding-left: 10px">
                        <h2 class="name" style="text-align: left">{{post.username}}</h2>
                        <small style="font-size: 15px" class="name">Posted on:  {{post.Date|date:"M d, Y"}}</small><br>
                    </td>
                </tr>
            </table>
        </div>
<form method="POST", enctype="multipart/form-data" role="form">
        {% csrf_token %}
     <div class="codeblocks">
        <label for="title" class="name">Title:</label><br>
        <input type="text" name="Title" value="{{post.Title}}" id="title" width="30" style="width: 300px" class="fild"><br>
        <label for="post" class="name">Post:</label><br>
        <textarea type="text" name="Post" maxlength="300" id="post" rows="10" cols="30" class="fild"
        style="width: 500px;height: 300px">{{post.Post}}</textarea><br><br>
         <button class="button" type="submit" name="update">Update Post</button>
         <button class="button" style="margin-left: 50px" type="submit" name="delete">Delete Post</button>
         <button class="button" style="margin-left: 50px" type="reset">Cancel</button>
    </div>
    <input name="username" style="visibility: hidden" value="{{post.username_id}}">
    <input name="id" style="visibility: hidden" value="{{post.id}}">
</form>
</div>

{% endblock %}