{%  extends 'personal/base.html'%}
{% block content%}
<h3 xmlns="">Hi, from notes</h3>

<div class='img_list'>
 {% for itm in links%}
    <div class="codeblocks">
        <h3>{{itm.1}}</h3>
<!--        <button class="button" id="{{itm.0}}" type="button" onclick="detail('{{itm.0}}','{{itm.1}}')" style="margin-left: 60%" >Detail</button>-->
        <p class="text-primary" id="sml1">Date of upload: {{itm.3}}, Size: {{itm.2}}Mb</p>
               <embed src="{{itm.0}}" class="pdviw" type="application/pdf"/><br><br><br>
            <a class="button" href="{{itm.0}}" type="button" target="_blank" id="pdflnk">Preview & Download</a>
    </div>
        {% endfor %}
</div>

{% endblock %}