{%  extends 'personal/base.html'%}
{% block content%}
<!--<div class="container">-->
<!--    <div class="row">-->
<!--      <div class="col-sm-6">-->
<!--        <div class="card text-center" style="margin-left: auto;margin-right: auto;-->
<!--                background-color: rgba(29,10,2,0.1);margin-top: 20px">-->
<!--            <img class="card-img-top" src="{{user.blog.Profile_Picture.url}}">-->
<!--            <div class="card-body">-->
<!--                <div style="overflow-x:auto;">-->
<!--                    <form method="POST", enctype="multipart/form-data" role="form">-->
<!--                        {% csrf_token %}-->
<!--                        <table style="">-->
<!--                            <tr>-->
<!--                                <td class="name" style="width: 200px">Username:</td>-->
<!--                                <td style="padding-left: 10px"><input type="text" id="name" name="username" value="{{user.username}}" class="fild"></td>-->
<!--                                </td>-->
<!--                            </tr>-->

<!--                            <tr>-->
<!--                                <td class="name">Email:</td>-->
<!--                                <td style="padding-left: 10px"><input type="email" id="email" name="email" value="{{user.email}}" class="fild"></td>-->
<!--                            </tr>-->

<!--                            <tr>-->
<!--                                <td class="name">Phone Number:</td>-->
<!--                                <td style="padding-left: 10px"><input type="tel" id="phone" required name="Phone_Number" value="{{user.blog.Phone_Number}}" class="fild"></td>-->
<!--                            </tr>-->

<!--                            <tr>-->
<!--                                <td class="name">Profile Picture:</td>-->
<!--                                <td style="padding-left: 10px"><input type="file" class="name" name="Profile_Picture" value='{{user.blog.Profile_Picture.url}}' accept="image/*"></td>-->
<!--                            </tr>-->

<!--                            <tr>-->
<!--                                <td></td>-->
<!--                                <td style="padding-left: 10px">-->
<!--                                    <textarea maxlength="100" aria-rowcount="50" required id="comments" style="width: 300px;font-weight: bold;-->
<!--                                    height: 100px"-->
<!--                                      rows="3" cols="30" class="fild" placeholder="write something about yourself. This will appear in your status."-->
<!--                                          name="Status">{{user.blog.Status}}-->
<!--                                    </textarea><br>-->
<!--                                </td>-->

<!--                            </tr>-->

<!--                            <tr>-->
<!--                                <td colspan="2" style="padding-top: 20px; text-align: center"><button type="submit" class="button"style="color: darkcyan;font-family: 'Calibri Light', Verdana"-->
<!--                                onclick="edit()">Save Profile</button><button class="button" style="color: darkcyan;font-family: 'Calibri Light',Verdana;margin-right: 50px"-->
<!--                                onclick="cnc()">Cancel</button></td>-->

<!--                                <td style="padding-left: 20px;padding-top: 20px"></td>-->
<!--                            </tr>-->
<!--                        </table>-->
<!--                    </form>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--      </div>-->
<!--      <div class="col-sm-6">-->
<!--        <div class="card" style="margin-left: auto;margin-right: auto;-->
<!--                background-color: rgba(29,10,2,0.1);margin-top: 20px;">-->
<!--            <div class="card-header">-->
<!--                <h5>Actions:</h5>-->
<!--            </div>-->
<!--            <div class="card-body">-->
<!--                <a href="{%url 'create_post'%}" class="button" style="text-decoration: none;color: darkcyan">Create Post</a><br><br>-->
<!--                <a href="{%url 'logout'%}" class="button " style="text-decoration: none;color: darkcyan">Logout</a>-->
<!--            </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--</div>-->
    <div class="card text-center" style="width: 40%;margin-left: auto;margin-right: auto;
    background-color: rgba(29,10,2,0.1);margin-top: 20px">
        <img class="card-img-top" src="{{user.blog.Profile_Picture.url}}">
        <div class="card-body">
            <div style="overflow-x:auto;">
            <form method="POST", enctype="multipart/form-data" role="form">
        {% csrf_token %}
    <table style="">
        <tr>
            <td class="name" style="width: 200px">Username:</td>
            <td style="padding-left: 10px"><input type="text" id="name" name="username" value="{{user.username}}" class="fild"></td>
            </td>
        </tr>

        <tr>
            <td class="name">Email:</td>
            <td style="padding-left: 10px"><input type="email" id="email" name="email" value="{{user.email}}" class="fild"></td>
        </tr>

        <tr>
            <td class="name">Phone Number:</td>
            <td style="padding-left: 10px"><input type="tel" id="phone" required name="Phone_Number" value="{{user.blog.Phone_Number}}" class="fild"></td>
        </tr>

        <tr>
            <td class="name">Profile Picture:</td>
            <td style="padding-left: 10px"><input type="file" class="name" name="Profile_Picture" value='{{user.blog.Profile_Picture.url}}' accept="image/*"></td>
        </tr>

        <tr>
            <td></td>
            <td style="padding-left: 10px">
            <textarea maxlength="100" aria-rowcount="50" required id="comments" style="width: 300px;font-weight: bold;
        height: 100px"
                  rows="3" cols="30" class="fild" placeholder="write something about yourself. This will appear in your status."
                      name="Status">{{user.blog.Status}}</textarea><br>
            </td>

        </tr>

        <tr>
            <td colspan="2" style="padding-top: 20px; text-align: center"><button type="submit" class="button"style="color: darkcyan;font-family: 'Calibri Light', Verdana"
    onclick="edit()">Save Profile</button><button class="button" style="color: darkcyan;font-family: 'Calibri Light',Verdana;margin-right: 50px"
        onclick="cnc()">Cancel</button></td>

            <td style="padding-left: 20px;padding-top: 20px"></td>
        </tr>
    </table>
</form>
            </div>
        </div>
    </div>
    <div class="card" style="width: 15%;margin-left: auto;margin-right: auto;
    background-color: rgba(29,10,2,0.1);margin-top: 20px;">

        <div class="card-header">
            <h5>Actions:</h5>
        </div>
      <div class="card-body">
        <a href="{%url 'create_post'%}" class="button" style="text-decoration: none;color: darkcyan">Create Post</a><br><br>
            <a href="{%url 'logout'%}" class="button " style="text-decoration: none;color: darkcyan">Logout</a>
      </div>

    </div>

    </div>

</div>


{% endblock %}