{%  extends 'personal/base.html'%}
{% block content%}
<div class="login">
<!--    here after login this points to self. we can chage by "action="{%url 'about'%}"" replacing abou with desired page-->
    <form method="POST", enctype="multipart/form-data" role="form">
        {% csrf_token %}
        <div id="table">
        <p>
        <div class="row">
    <label for="name" class="name">Username:</label>
    <input type="text" class="fild" required name="username" id="name"><br>
        </div>

             <div class="row">
    <label for="eml" class="name" >Email:</label>
    <input type="text" name="email" required class="fild" id="eml"><br>
        </div>
<!--            <div class="row">-->
<!--    <label for="ph" class="name" >Phone Number:</label>-->
<!--    <input type="text" name="Phone_Number" class="fild" id="ph"><br>-->
<!--        </div>-->

     <div class="row">
        <label for="password1" class="name">Password:</label>
    <input type="password" class="fild pass" required name="password1" id="password1">
        </div>
            <div class="row">
        <label for="password2" class="name">Retype-Password:</label>
    <input type="password" class="fild pass" required name="password2" id="password2">
        </div>

    </p>
        </div>
        <div >
        <button class="srch_btn" type="submit" onclick="validate()">Signup</button><button class="srch_btn" type="reset">Cancel</button>
        </div>
</form>
    <a class="small" href="{%url 'blog'%}" style="margin-right: 60%">Already have an account? Login</a>

</div>
{% endblock %}